<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Header Fragment</title>
</head>
<body>
  <!-- Header Fragment -->
  <header th:fragment="header">
    <div class="Mheader">
      <!-- Hamburger Button -->
      <button id="Mhamburger-toggle" class="Mhamburger-toggle">
        <i class="material-icons">menu</i>
      </button>
      <a class="navbar-brand" href="#top">
        <i class="bi-back"></i>
        <span>E-Learning Dyscalculia</span>
      </a>
    </div>
  </header>
</body>
</html>