<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Profile</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
        rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body id="top">

    <main>
        <header th:replace="~{fragments/header :: header}"></header>

        <main class="container mt-5 d-flex justify-content-center">
            <div class="col-md-8 profile-container">
                <h3 class="text-center">Profile Management</h3>
                <form>
                    <div class="mb-3">
                        <label class="form-label">Full Name</label>
                        <input type="text" class="form-control" value="John Doe" required>
                    </div>
        
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" value="john@example.com" required>
                    </div>
        
                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        <input type="tel" class="form-control" value="+60 34567890">
                    </div>
        
                    <!-- Change Password -->
                    <h5 class="mt-4 text-center">Change Password</h5>
                    <div class="mb-3">
                        <label class="form-label">New Password</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control">
                    </div>
        
                    <button type="submit" class="btn btn-success w-100">Save Changes</button>
                </form>
            </div>
        </main>
        

        <footer th:replace="~{fragments/footer :: footer}"></footer>
        <!-- Bootstrap JS -->
        <script src="js/bootstrap.bundle.min.js"></script>

</body>

</html>